.card-item {
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  box-shadow: none;

  &:hover {
    background: none !important;
    transform: none !important;
  }

  .card-thumb img {
    transition: all var(--transition-function) var(--transition-duration);
  }

  &.scale:hover .card-thumb img {
    transform: var(--transform-scale);
  }
}

.card-item .image-holder,
.card-item .image-holder > a {
  display: block;
}

.card-item:not(.contained) .image-holder {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
