.hero-section {
  position: relative;
  overflow: hidden;
  background-image: url('/assets/images/content/shape-1.png');
  background-attachment: scroll;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

  .hero-thumb {
    width: 120px;
    border-style: solid;
    border-width: 8px;
    border-color: #0c0e23;
    border-radius: 100%;
    transition-duration: 0.3s;
    transition-property: transform;
  }

  .bio {
    color: #e4ecff;
  }

  .button {
    padding: 20px 45px;
    border-radius: 100px;
  }
}

.fun-facts {
  .content {
    padding: 32px;
    border-radius: 24px;
    background-color: transparent;
    background-image: linear-gradient(180deg, #04071d 0%, #0c0e23 100%);
  }
}

.service-item {
  position: relative;
  z-index: 1;
  padding: 32px;
}

.portfolio-item {
  .card-thumb {
    display: block;
    overflow: hidden;
  }

  .show-project {
    position: relative;
    overflow: hidden;
  }

  .post-holder-tags {
    gap: 0;
    margin-top: 0;
    transition: all var(--transition-function) var(--transition-duration);
  }

  .show-project .project-link {
    position: absolute;
    opacity: 0;
    left: 0;
    transition: all var(--transition-function) var(--transition-duration);
  }

  .show-project .project-link a::after {
    position: absolute;
    content: '';
    top: 48%;
    right: -0.5rem;
    height: 2px;
    width: 3rem;
    background-color: currentColor;
    transform: translate(100%, 50%);
  }
}

.portfolio-item:not(.minimal):not(.interactive) .show-project .project-link a {
  color: var(--button-color);
}

.post-holder-tags {
  display: inline-flex;
  flex-wrap: wrap;
  vertical-align: middle;
  align-items: center;
  gap: 0.25em;
  margin-top: 20px;
}

span.tag,
a.tag,
.tagcloud > a,
.post-holder-tags > a,
.wp-block-tag-cloud > a,
.testimonial-headline > b {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  background: color-mix(in srgb, var(--neutral-color) 15%, transparent);
  color: inherit;
}

.portfolio-item .post-holder-tags > a,
.interactive-link .post-holder-tags a {
  padding: 0;
  background: none !important;
  color: inherit !important;
}

.skills {
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50rem;
    padding: 40px 32px;
    background-color: transparent;
    background-image: linear-gradient(180deg, #04071d 0%, #0c0e23 100%);
  }

  .item .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .item .content span {
    font-size: 2.5rem;
    color: #e4ecff;
    font-weight: 600;
  }

  .item .content .title  {
    align-items: center;
    display: flex;
    flex: 1;
    font-size: 19px;
    font-weight: 400;
    color: var(--primary-color);
    justify-content: center;
    line-height: 2.5;
    margin: 0;
    padding: 0;
  }
}

.approach {
  .item {
    padding: 32px;
    border-radius: 16px;
  }

  .item .item-count {
    margin-right: 1rem;
    font-size: var(--h3-size);
    writing-mode: vertical-lr;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-text-stroke-width: 1px;
    stroke-width: 1px;
    -webkit-text-stroke-color: var(--primary-color);
    stroke: var(--primary-color);
    color: rgba(255, 255, 255, 0);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .item .tl-widget.heading {
    gap: 10px;
  }
}

.contact {
  position: relative;
  overflow: hidden;

  &::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
    background-image: url(../img/content/shape-2.png);
    background-attachment: scroll;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .contact-icon-list .icon-list-item:not(:last-child) {
    padding-bottom: 7.5px;
  }

  .contact-icon-list .icon-list-item span {
    font-size: 20px !important;
    font-weight: 500 !important;
  }

  .contact-icon-list .icon-list-item span.icon-list-text {
    color: var(--white-color);
    transition: color 0.3s;
  }

  .tl-widget.icon-box .icon {
    color: var(--white-color);
  }

  .tl-widget.social-icons .social-icon .icon {
    font-size: 20px;
  }

  .tl-widget.social-icons .social-icon:not(.has-text):hover {
    margin-top: -100%;
  }

  .tl-widget.social-icons > .social-icon:hover .icon.icon-animated:first-child {
    color: var(--white-color);
  }

  .tl-form {
    background-color: transparent;
    background-image: linear-gradient(180deg, #04071d 0%, #0c0e23 100%);
  }
}

.social-icons {
  a {
    margin: 5px;
    width: 45px;
    height: 45px;
    background-color: #1c1c1c;
    color: var(--white-color) !important;
    border-radius: 14px;
    overflow: hidden;
    transition: all 0.3s ease 0s;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
    transition: all 0.3s ease 0s;
  }

  svg {
    transition: all 0.3s ease 0s;
  }
}

.gallery-items {
  display: inline-block;
  margin: 2.5px 5px;
  vertical-align: top;
}

section#slider:not(.bg-inherit) {
  background-color: var(--fill-color);
}

.breadcrumb {
  --bs-breadcrumb-padding-x: 0;
  --bs-breadcrumb-padding-y: 0;
  --bs-breadcrumb-margin-bottom: 1rem;
  --bs-breadcrumb-bg: ;
  --bs-breadcrumb-border-radius: ;
  --bs-breadcrumb-divider-color: var(--bs-secondary-color);
  --bs-breadcrumb-item-padding-x: 0.5rem;
  --bs-breadcrumb-item-active-color: var(--bs-secondary-color);
  display: flex;
  flex-wrap: wrap;
  padding: var(--bs-breadcrumb-padding-y) var(--bs-breadcrumb-padding-x);
  margin-bottom: var(--bs-breadcrumb-margin-bottom);
  font-size: var(--bs-breadcrumb-font-size);
  list-style: none;
  background-color: var(--bs-breadcrumb-bg);
  border-radius: var(--bs-breadcrumb-border-radius);
}

.breadcrumb {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  background: none;
  color: inherit;
}

.breadcrumb-item {
  display: flex;
  align-items: center;
  margin: 0.3rem 0;
  font-size: 1rem;
  font-weight: 600;
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: var(--bs-breadcrumb-item-padding-x);
}

.breadcrumb-item.active {
  color: var(--bs-breadcrumb-item-active-color);
}

.breadcrumb-item.active {
  color: var(--primary-color);
}

ul.page-numbers,
.page-links {
  display: flex;
  width: fit-content;
  padding-left: 0;
  margin: 35px auto;
  margin-left: inherit;
  border-radius: var(--border-radius-md);
  -webkit-box-shadow: 0px 0px 15px 0px var(--box-shadow-color);
  box-shadow: 0px 0px 15px 0px var(--box-shadow-color);
  list-style: none;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

ul.page-numbers {
  justify-content: center;

  li {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  }
}

a.page-numbers,
span.page-numbers,
a.post-page-numbers:not(.btn),
span.post-page-numbers {
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  white-space: nowrap;
  min-height: 3rem;
  padding: 0 1.25rem;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: var(--border-radius-md);
  font-size: 1rem !important;
  font-weight: 600 !important;
  color: var(--primary-t-color);
  transition: all var(--transition-function) var(--transition-duration);
}

span.page-numbers.current,
a.post-page-numbers.current,
span.post-page-numbers.current {
  background-color: var(--button-color);
  color: var(--black-color);
}
